{% extends 'layout.html'%}

{% block body %}

<style>
    #sot{
        border-style:solid;
        margin-right: 55px;
        border-color: #f0f0f0;
        background-color: #f0f0f0;
        text-align: center;
        color:black;
        width: 120px;
        height: 300px;
        padding-top:55%;
        font-weight: bold;
    }
    #at{
        margin-top: 60px;
        border-style:solid;
        margin-right: 40px;
        border-color: #f0f0f0;
        background-color: #f0f0f0;
        text-align: center;
        color:black;
        width: 120px;
        height: 300px;
        padding-top:55%;
        font-weight: bold;

    }
    #wdt{
        width: 128px;
        border-style:solid;
        margin-right: 40px;
        border-color: #f0f0f0;
        background-color: #f0f0f0;
        text-align: center;
        color:black;
        height: 300px;
        padding-top:55%;
        font-weight: bold;

    }
    #sl{
        border-style:solid;
        margin-right: 40px;
        border-color: #f0f0f0;
        background-color: #f0f0f0;
        text-align: center;
        color:black;
        height: 300px;
        padding-top:55%;
        width: 125px;
        font-weight: bold;

    }

</style>

<div class="container">
    <br>
    <div class="columns">
        <div class="column"><div id="at">ALLOCATED TIME</div></div>
        <div class="column" style="height: 320px;"><div id="trimester"> LAST TRIMESTER</div><br><canvas id="first" style="height: 300px;" ></canvas></div>
        <div class="column"  style="height: 320px;"><div id="month">LAST 30 DAYS</div><br><canvas id="second" style="height: 300px;"></canvas></div>
        <div class="column" style="height: 320px;"><div id="week">LAST 7 DAYS</div><br><canvas id="third" style="height: 300px;"></canvas></div>
    </div>

    <div class="columns">
        <div class="column"><div id="wdt">WEATHER DOWNTIME</div></div>
        <div class="column"  style="height: 320px;"><canvas id="fourth" style="height: 300px;"></canvas></div>
        <div class="column"  style="height: 320px;"><canvas id='five' style="height: 300px;"></canvas></div>
        <div class="column"  style="height: 320px;"><canvas id='six' style="height: 300px;"></canvas></div>
    </div>

    <div class="columns">
        <div class="column"><div id="sot">SHUTTER OPEN TIME</div></div>
        <div class="column" style="height: 320px;"><canvas id="seven" style="height: 300px;"></canvas></div>
        <div class="column" style="height: 320px;"><canvas id="eight" style="height: 300px;"></canvas></div>
        <div class="column" style="height: 320px;"><canvas id="nine" style="height: 300px;"></canvas></div>
    </div>

    <div class="columns">
        <div class="column"><div id="sl">SUBSCRIPTION LEVEL</div></div>
        <div class="column" style="height: 320px;"><canvas id="ten" style="height: 300px;"></canvas></div>
        <div class="column" style="height: 320px;"><canvas id="eleven" style="height: 300px;"></canvas></div>
        <div class="column" style="height: 320px;"><canvas id="twelve" style="height: 300px;"></canvas></div>
    </div>
    <br><br>
</div>


{#    <!--allocated time graphs-->#}
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/allocated time/allocated_time_last_trimester.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/allocated time/allocated_time_last_30_days.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/allocated time/allocated_time_last_seven_days.js') }}"></script>

{#    <!--shutter open time graphs-->#}
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/shutter open time/shutter_open_time_last_trimester.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/shutter open time/shutter_open_time_last_30_days.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/shutter open time/shutter_open_time_last_seven_days.js') }}"></script>

<!--weather downtime graphs-->
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/weather downtime/weather_downtime_last_trimester.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/weather downtime/weather_down_time_last_30_days.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/weather downtime/weather_downtime_last_seven_days.js') }}"></script>

<!--subscription level graphs-->
<script type="text/javascript" src="{{ url_for('static', filename='dashboard graphs/subscription level/subscription_level_last_trimester.js') }}"></script>

<script>allocated_time_trimester();</script>
<script>allocated_time_month();</script>
<script>allocated_time_week();</script>

<script>weather_down_time_trimester();</script>
<script>weather_down_time_month()</script>
<script>weather_down_time_week()</script>

<script>shutter_open_time_trimester();</script>
<script>shutter_open_time_month()</script>
<script>shutter_open_time_week()</script>


<script>subscription_level_trimester()</script>

{% endblock %}